LETSENCRYPT_CONTAINERS=({{ range $hosts, $containers := groupByLabel $ "ha-proxy.le.host" }}{{ if trim $hosts }}'{{ printf "%.12s" (first $containers).ID }}' {{ end }}{{ end }})

{{ range $hosts, $containers := groupByLabel $ "ha-proxy.le.host" }}

{{ $cid := printf "%.12s" (first $containers).ID }}
{{/* Get Let's Encrypt infomation */}}
{{ $hosts   := trimSuffix "," $hosts }}
{{ $email := first (keys (groupByLabel $containers "ha-proxy.le.email"))}}
{{ $keysize := first (keys (groupByLabel $containers "ha-proxy.le.keysize"))}}
{{ $test := first (keys (groupByLabel $containers "ha-proxy.le.test"))}}
{{ $alias := first (keys (groupByLabel $containers "ha-proxy.le.account_alias"))}}

LETSENCRYPT_{{ $cid }}_HOST=( {{ range $host := split $hosts "," }}{{ $host := trim $host }}'{{ js $host }}' {{ end }})
LETSENCRYPT_{{ $cid }}_EMAIL="{{ $email }}"
LETSENCRYPT_{{ $cid }}_KEYSIZE="{{ $keysize }}"
LETSENCRYPT_{{ $cid }}_TEST="{{ $test }}"
LETSENCRYPT_{{ $cid }}_ACCOUNT_ALIAS="{{ $alias }}"

{{ end }}
